header {
  padding: 1rem;
  background-color: var(--primary-color);

  h1 {
      color: var(--light-color);
      text-shadow: 1px 1px 2px var(--dark-color);
  }

  nav {
      padding: 1rem 2rem;

      ul {
          display: flex;
          justify-content: center;
          gap: 1rem;

          li {
              a {
                  color: var(--light-color);
                  text-decoration: none;
                  margin-right: 15px;
                  font-weight: bold;
              }

              a:hover {
                  color: var(--accent-color);
              }
          }

      }

  }
}